{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Issue Tracker
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>

<style>
    #collapseOne
    {
        overflow-y: scroll !important;
        max-height: 400px !important;
    }
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Network iTC Tracker</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Issues<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="allissues">All Issues</a>
								</li>
								<li>
									<a href="openissues">Open Issues</a>
								</li>
								<li>
									<a href="resissues">Resolved Issues</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="myissues">My Issues</a>
								</li>

							</ul>
						</li>
                        <li><a href="newissue">New Issue</a></li>
                        <li><a href="newenhancement">New Enhancement</a></li>
                        <li><a href="roadmap">Roadmap</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.email }}<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                                <li class="divider">
								</li>
                                {% if current_user.has_role('admin') %} <li><a href="/admin"><span class="glyphicon glyphicon-wrench"></span> Administration</a></li> {% endif %}
                                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
	</div>

    <!-- Row 2 -->

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h3>View Issue - #{{ id }}</h3>
        </div>
        <div class="col-md-2"></div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
             {% for message in messages %}
                 <h4>{{ message }}</h4>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>
        {% endif %}
    {% endwith %}
    <!-- Row 3 -->

    <form method="POST" action="/updateissue?id={{ id }}">
        <div class="row">
            <!--<div class="col-md-2"></div>-->
            <div class="col-md-1"></div>
            <div class="form-group col-md-4">
                {{ form.title.label }} {{ form.title(class="edit-class form-control", disabled=true) }}
            </div>
            <div class="form-group col-md-3">
                {{ form.raised_by.label }} {{ form.raised_by(class="form-control", disabled=true) }}
            </div>
            <div class="form-group col-md-3">
                {{ form.allocated_to.label }} {{ form.allocated_to(class="edit-class form-control", disabled=true) }}
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-10">
                {{ form.desc.label }} {{ form.desc(class="edit-class form-control", disabled=true) }}
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-2">
                {{ form.sev.label }} {{ form.sev(class="edit-class form-control", disabled=true) }}
            </div>
            {% if current_user.has_role('admin') or current_user.has_role('editor') %}
            <div class="form-group col-md-2">
                {{ form.state.label }} {{ form.state(class="edit-class form-control", disabled=true) }}
            </div>
            {% endif %}
            <div class="form-group col-md-2">
                {{ form.impact_doc.label }} {{ form.impact_doc(class="edit-class form-control", disabled=true) }}
            </div>
            <div class="form-group col-md-2">
                {{ form.impact_ver.label }} {{ form.impact_ver(class="edit-class form-control", disabled=true) }}
            </div>
            <div class="form-group col-md-2">
                {{ form.area.label }} {{ form.area(class="edit-class form-control", disabled=true) }}
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-10">
                {{ form.prop_res.label }} {{ form.prop_res(class="edit-class form-control", disabled=true) }}
            </div>
        </div>

        <div class="row {% if 'open' in form.state.data or 'assigned' in form.state.data %} hidden {% endif %}" id="resolution">
            <div class="col-md-1"></div>
            <div class="form-group col-md-2">
                {{ form.res_state.label }} {{ form.res_state(class="res-edit-class form-control res_state", disabled=true) }}
            </div>
            <div class="form-group col-md-2 {% if 'no_change' in form.res_state.data %} hidden {% endif %}" id="resolved_in">
                {{ form.resolved_in.label }} {{ form.resolved_in(class="res-edit-class form-control resolved_in", disabled=true) }}
            </div>
            <div class="form-group col-md-6">
                {{ form.resolution.label }} {{ form.resolution(class="res-edit-class form-control", disabled=true) }}
            </div>
        </div>



        {% if comments|length > 0 %}
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                <div class=panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-comment">
                            </span> Comments</a>
                            </h4>
                        </div>

                    <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                {% for comment in comments %}
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="form-group col-md-10">
                                        <label for="old-comment-box">Comment from {{ comment ['user_id'] }} on {{ comment['date'] }}</label> <textarea class="form-control" id="old-comment-box" name="old-comment-box" disabled>{{ comment['comment'] }}</textarea>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
                </div>
            </div>
        {% endif %}

        <div class="row hidden" id="comment-box">
            <div class="col-md-1"></div>
            <div class="form-group col-md-10">
                {{ form.comment.label }} {{ form.comment(class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-10">
                <button id="update" type="submit" class="btn btn-primary hidden" name="update">Save</button>


                {% if current_user.email in form.raised_by.data or current_user.has_role('admin') or current_user.has_role('editor') %}
                    <button id="edit" type="button" class="btn btn-success" name="edit">Edit</button>
                {% endif %}
                <button id="cancel" type="button" class="btn btn-danger hidden" name="cancel">Cancel</button>
                <button id="commentbtn" type="button" class="btn btn-primary" name="comment">Add Comment</button>


                <a class="pull-right btn btn-primary" href="viewissue?id={{ id+1 }}">Next</a>
                <a class="pull-right btn btn-primary" href="viewissue?id={% if (id > 0) %} {{ id-1 }} {% elif (id < 1) %} {{ id }} {% endif %}">Previous</a>


            </div>
        </div>
    </form>
</div>

    <script>
        $(document).ready(function()
        {
            $("#edit").click(function()
                {
                    $(".edit-class").prop("disabled", false);

                    // Only allow an editor or admin to edit the resolution state of the issue

                    {% if current_user.has_role('admin') or current_user.has_role('editor') %}
                        $(".res-edit-class").prop("disabled", false);
                    {% endif %}

                    $("#update").removeClass("hidden");
                    $("#cancel").removeClass("hidden");

                    $("#commentbtn").addClass("hidden");
                    $("#edit").addClass("hidden");
                });

            $("#cancel").click(function()
                {
                    $(".edit-class").prop("disabled", true);
                    $(".res-edit-class").prop("disabled", true);
                    $("#comment-box").addClass("hidden");
                    $("#update").addClass("hidden");
                    $("#cancel").addClass("hidden");

                    $("#commentbtn").removeClass("hidden");
                    $("#edit").removeClass("hidden");
                });
            $("#commentbtn").click(function()
                {
                     $("#comment-box").removeClass("hidden");
                     $("#cancel").removeClass("hidden");
                     $("#update").removeClass("hidden");

                     $("#commentbtn").addClass("hidden");
                     $("#edit").addClass("hidden");
                });
            // If status of 'state' is 'resolved' then make some form elements unhidden
            // need to check syntax for id attribute i.e. is it a # or $?
            $("#state").change(function()
            {
                if ($(this).val() == "resolved")
                {
                    $("#resolution").removeClass("hidden");
                }
                else
                {
                    $("#resolution").addClass("hidden");
                }
            });

            $("#allocated_to").change(function()
            {
                if ($(this).val() != "")
                {
                    $("#state").val("assigned");
                }
                else if ($(this).val() == "")
                {
                    $("#state").val("open");
                }
            });

            $("#res_state").change(function()
            {
                if ($(this).val() == "accept" || $(this).val() == "accept_w_mods")
                {
                    $("#resolved_in").removeClass("hidden");
                }
                else
                {
                    $("#resolved_in").addClass("hidden");
                }
            });
            jQuery(function ($) {
                $('form').bind('submit', function () {
                    $(this).find(':input').prop('disabled', false);
                });
            });
        });

    </script>

{% endblock %}